body {
    font-family: Garamond, serif;
    text-align:center;
  }

.bodyTag {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
  }

.bodyText {
    text-align: center;
    font-size: 40px;
    color: #8A2BE2;
}
